/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --body-font: "Poppins", sans-serif;

  --big-font-size: 8.5rem;
  --h1-font-size: 6.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;
}

body {
  background-color: rgb(163, 163, 163);
  color: white;
  margin: 0;
}

.main__container {
  background-color: rgb(216, 212, 212);
  height: 100vh;
  display: flex;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* QUIZ */

.main__container {
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 25px;
  width: 50%;
  height: 100%;
  margin: 250px 100px 160px 280px;
  padding: 40px;
}

.multiple__choice {
  display: flex;
  flex-direction: column;
}

